@font-face {
  font-family: 'OctinVintageARg-Bold';
  src: url("../fonts/OctinVintageARg-Bold/OctinVintageARg-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OctinVintageARg-Bold/OctinVintageARg-Bold.woff") format("woff"), url("../fonts/OctinVintageARg-Bold/OctinVintageARg-Bold.ttf") format("truetype"), url("../fonts/OctinVintageARg-Bold/OctinVintageARg-Bold.svg#OctinVintageARg-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma/Tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/Tahoma/Tahoma.woff") format("woff"), url("../fonts/Tahoma/Tahoma.ttf") format("truetype"), url("../fonts/Tahoma/Tahoma.svg#Tahoma") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tahoma-Bold';
  src: url("../fonts/Tahoma-Bold/Tahoma-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tahoma-Bold/Tahoma-Bold.woff") format("woff"), url("../fonts/Tahoma-Bold/Tahoma-Bold.ttf") format("truetype"), url("../fonts/Tahoma-Bold/Tahoma-Bold.svg#Tahoma-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

body * {
  outline: none; }

html.start,
body.start {
  overflow: hidden; }

body {
  background: #3b3e3b;
  margin: 0;
  padding: 0;
  font-family: "Tahoma"; }

a {
  color: yellow;
  text-decoration: none;
  transition: all 0.3s;
  outline: none; }
  a:hover {
    color: #dbdb84; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Tahoma-Bold"; }

.bl-relative {
  position: relative; }

#wrap {
  height: 100%; }

.sect-wr {
  margin: 0 auto;
  padding: 10px 20px 30px;
  max-width: 1200px;
  background: #3b3e3b; }

.title-sect {
  font-size: 24px;
  padding: 10px 10px 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff; }

.bg_site {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -10;
  height: 100vh;
  background-size: cover !important;
  background-position: center center !important; }
  .bg_site::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -5; }

.preload-site {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none; }
  .preload-site__title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    transition: 0.3s all;
    font-size: 180px;
    font-family: "OctinVintageARg-Bold";
    color: #ffffff;
    text-align: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    text-transfrom: uppercase; }
  .preload-site__prel {
    position: absolute;
    margin-top: -1px;
    top: 50%;
    left: 0;
    height: 2px;
    width: 0%;
    opacity: 0.7;
    background: yellow;
    transition: 0.3s all;
    z-index: 20; }
    .preload-site__prel--count {
      position: absolute;
      top: 20%;
      left: 50%;
      max-width: 200px;
      width: 100%;
      display: block;
      margin-top: -10px;
      z-index: 20;
      color: rgba(255, 255, 255, 0.5);
      font-size: 50px;
      text-aling: center; }
  .preload-site__item {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-position: center !important;
    background-size: cover !important;
    transition: 2s all; }
    .preload-site__item_up {
      z-index: 5;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
      transform: translateY(0%); }
    .preload-site__item_dw {
      z-index: 5;
      clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
      transform: translateY(0%); }
    .preload-site__item_mid {
      z-index: 10;
      transition: none; }
  .preload-site.active .preload-site__item_up {
    transform: translateY(-50%); }
  .preload-site.active .preload-site__item_dw {
    transform: translateY(50%); }
  .preload-site.active .preload-site__item_mid {
    display: none; }
  .preload-site.active .preload-site__prel {
    opacity: 0; }
  .preload-site.active .preload-site__prel--count {
    opacity: 0; }

#qLoverlay {
  display: none !important; }

.sect-wr_head {
  min-height: 300px;
  background-position: top center !important;
  background-attachment: fixed !important; }

.main-nav {
  visibility: visible;
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: space-between; }
  .main-nav a {
    font-size: 19px; }

.title-sect_head {
  position: absolute;
  top: 90px;
  right: 120px;
  z-index: 5;
  font-size: 70px;
  font-family: "OctinVintageARg-Bold"; }

.main-nav__header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 5; }

.shape-img {
  shape-image-threshold: 0.2;
  shape-margin: 0px;
  background-position: center center !important; }

.shape-img_1 {
  width: 160px;
  height: 150px;
  float: left;
  background: url(../img/descrp-shape-1.png) no-repeat;
  -webkit-shape-outside: url(../img/descrp-shape-black-1.svg);
  -moz-shape-outside: url(../img/descrp-shape-black-1.svg);
  -o-shape-outside: url(../img/descrp-shape-black-1.svg);
  shape-outside: url(../img/descrp-shape-black-1.svg); }

.shape-img_2 {
  width: 255px;
  height: 355px;
  float: right;
  background: url(../img/descrp-shape-2.png) no-repeat;
  -webkit-shape-outside: url(../img/descrp-shape-black-2.svg);
  -moz-shape-outside: url(../img/descrp-shape-black-2.svg);
  -o-shape-outside: url(../img/descrp-shape-black-2.svg);
  shape-outside: url(../img/descrp-shape-black-2.svg); }

.desctiption_text {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify; }

.last-update__wr {
  background-position: 80% 20% !important;
  background-size: 180% !important; }

.last-update__img {
  display: block;
  opacity: 0;
  transition: all 3s; }

.last-update__img.active {
  opacity: 1; }

.gallery-list.active .gallery-list__item {
  transform: rotateY(180deg); }

.gallery-list.active .gallery-list__item.clCreat {
  transition: none !important;
  transform: rotateY(90deg) !important; }

.gallery-list.active .gallery-list__item.clDelete {
  transform: rotateY(90deg) !important; }

.gallery-list.begin {
  transition: none; }
  .gallery-list.begin .gallery-list__item {
    transform: rotateY(90deg); }

.gallery-list {
  transition: height 2s;
  overflow: hidden;
  box-sizing: border-box; }
  .gallery-list__height {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    box-sizing: border-box; }
  .gallery-list__item {
    width: 16.6%;
    padding: 10px;
    box-sizing: border-box;
    transform-style: preserve-3d; }
    .gallery-list__item-wr {
      position: relative;
      padding-top: 80%;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
      transition: all 2s; }
      .gallery-list__item-wr.active {
        transform: rotateY(180deg); }
    .gallery-list__item-img {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 5;
      box-sizing: border-box;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 1s;
      transform-style: preserve-3d; }
      .gallery-list__item-img-sec {
        transform: rotateY(180deg);
        pointer-events: none; }

.gallery-list.active .gallery-list__item-img_ins-fr {
  pointer-events: none; }

.gallery-list.active .gallery-list__item-img-sec {
  pointer-events: all; }

.gallery-chapter-list {
  margin: 20px auto 0;
  max-width: 450px; }
  .gallery-chapter-list__name {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 4px 15px;
    font-size: 20px; }
  .gallery-chapter-list__item {
    margin-top: 15px; }
  .gallery-chapter-list__img {
    width: atuo;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px; }
  .gallery-chapter-list__chapter {
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: #797e79;
    font-size: 16px;
    color: #ffffff;
    line-height: 21px;
    padding: 6px 10px;
    cursor: pointer;
    transition: 0.5s all; }
    .gallery-chapter-list__chapter:hover {
      background: #979d97; }
    .gallery-chapter-list__chapter.active {
      background: #979d97; }

.sect-charact {
  background-position: 0 0;
  background-size: contain;
  position: relative;
  box-sizing: border-box;
  width: 1024px;
  height: 681px; }
  .sect-charact__bg {
    position: absolute;
    background: transparent;
    transition: all 0.7s;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5; }
    .sect-charact__bg.active {
      background: rgba(0, 0, 0, 0.8); }

.char-Betzen {
  position: absolute;
  left: 295px;
  top: 132px;
  z-index: 5;
  width: 232px;
  height: 325px;
  background: url(../img/characters/mis-Betzen.png) no-repeat;
  pointer-events: none; }
  .char-Betzen object {
    pointer-events: none; }
  .char-Betzen svg {
    pointer-events: none; }
    .char-Betzen svg path {
      cursor: pointer;
      pointer-events: all;
      stroke: yellow;
      stroke-width: 0;
      transition: all 0.5s; }
      .char-Betzen svg path:hover {
        stroke-width: 2px; }
      .char-Betzen svg path.active {
        stroke-width: 2px;
        z-index: 10; }

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 3;
  cursor: pointer;
  box-sizing: border-box;
  height: 25px;
  width: 25px;
  opacity: 1;
  transition: 0.3s opacity; }
  .close:hover {
    opacity: 0.7; }
  .close::before, .close::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    height: 2px;
    box-sizing: border-box;
    background: #ffffff; }
  .close::before {
    transform: rotate(45deg); }
  .close::after {
    transform: rotate(-45deg); }

.characters-modal-descr {
  display: block;
  background: #151515;
  padding: 15px 10px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  min-width: 200px;
  height: 300px;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  display: none;
  transform: translateX(-50%);
  border: 2px solid yellow; }
  .characters-modal-descr::before {
    content: "";
    height: 30px;
    width: 30px;
    border: none;
    border-right: 2px solid yellow;
    border-bottom: 2px solid yellow;
    border-radius: 0 0 4px 0;
    position: absolute;
    bottom: -17px;
    margin-left: -15px;
    left: 50%;
    transform: rotate(45deg);
    background: #151515; }
  .characters-modal-descr__wr {
    display: flex;
    height: 100%;
    overflow: hidden; }
  .characters-modal-descr__img {
    width: 150px;
    min-width: 200px;
    padding: 10px;
    padding-right: 20px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex; }
    .characters-modal-descr__img::before {
      content: "";
      display: block;
      background: yellow;
      width: 3px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; }
  .characters-modal-descr__cont-img {
    background-size: contain !important;
    background-position: center !important;
    width: 100%;
    align-items: center; }
  .characters-modal-descr__text {
    padding: 0 10px 10px 20px; }
  .characters-modal-descr__name {
    font-size: 20px;
    color: yellow;
    text-align: center;
    padding: 10px; }
  .characters-modal-descr__charact-descr {
    font-size: 14px;
    color: #ffffff;
    text-align: justify;
    overflow: auto;
    max-height: 220px;
    box-sizing: border-box;
    background: #151515;
    position: relative;
    z-index: 2; }

.sect-wr__slider-art {
  min-height: 530px; }

#viewport {
  width: 100px;
  margin: auto;
  display: block; }

.last-update {
  text-align: center; }
  .last-update__img {
    width: 100%; }

#cube,
#cube-cube {
  position: relative;
  margin-top: 140px;
  height: 70px;
  width: 70px;
  transform-style: preserve-3d;
  transform: translateX(50px) rotateX(0) rotateY(0);
  pointer-events: none;
  transform-origin: 0 0 0 !important; }

#imgCenter {
  transform-style: preserve-3d;
  height: 370px;
  width: 250px;
  transform: rotateX(0deg) rotateY(0deg) translateX(-140px) translateY(0px) translateZ(0px);
  background: url(../img/pers.png) no-repeat;
  background-position: center top !important;
  background-size: contain !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -160px;
  left: 0px;
  transition: all 3s; }

#cube.active {
  -webkit-transform: rotateX(-20deg) rotateY(20deg);
  box-sizing: border-box;
  background-position: center top !important;
  background-size: cover !important; }

#cube.start {
  transition: all 3s; }

#cube .cn-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 140px;
  width: 200px;
  padding: 0px;
  background-color: rgba(50, 50, 50, 0.85);
  font-size: 1em;
  line-height: 1em;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: right;
  padding: 5px;
  pointer-events: all;
  transform-origin: 0 0 0 !important; }

#cube a {
  display: block;
  width: 100%;
  height: 100%; }

#cube .cn-img {
  perspective-origin: 0% 0%;
  transform-origin: 0% 0%;
  opacity: 0.9;
  background-position: center top !important;
  background-size: cover !important;
  transition: transform 6s 1s, opacity 1s;
  transform-origin: 0 0 0 !important; }

#cube:hover > div {
  opacity: 0.25; }

#cube > div:hover {
  opacity: 1 !important; }

#cube div span {
  display: inline-block;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: red; }

#cube .center-line {
  height: 200px;
  width: 20px;
  background: red;
  transform: rotateX(0deg) rotateY(0deg) translateX(0px) translateY(-50px) translateZ(0px);
  -webkit-transform: rotateX(0deg) rotateY(0deg) translateX(0px) translateY(-50px) translateZ(0px); }

#cube .cn-img.act-el {
  -webkit-transform: rotateX(8deg) rotateY(-19deg) translateX(-180px) translateY(-9px) translateZ(350px);
  opacity: 1;
  width: 400px;
  height: 350px; }

.wr_img_sl {
  display: none; }

.slider-art__list-img {
  display: none; }

.slider-arrow-wr .arrow {
  position: absolute;
  height: 60px;
  z-index: 5;
  width: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.6;
  transition: 0.3s all;
  top: 40%;
  border: 1px solid #ffffff; }
  .slider-arrow-wr .arrow:hover, .slider-arrow-wr .arrow:active {
    opacity: 0.9; }
  .slider-arrow-wr .arrow::before {
    content: "";
    display: block;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    margin-top: -10px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 10px;
    height: 20px;
    background-size: contain !important;
    background-position: center !important; }

.slider-arrow-wr .arrow-prew {
  left: 110px; }
  .slider-arrow-wr .arrow-prew::before {
    background: url(../img/arrow-left.png) no-repeat;
    margin-left: -5px; }

.slider-arrow-wr .arrow-next {
  right: 110px; }
  .slider-arrow-wr .arrow-next::before {
    background: url(../img/arrow-right.png) no-repeat;
    margin-left: -2px; }

.slider-arrow-wr {
  transition: 2s opacity; }

.slider-arrow-wr.start {
  opacity: 0; }

.plitImage {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  font-size: 0;
  padding: 0;
  background-size: cover;
  min-height: 400px;
  position: relative; }
  .plitImage li {
    width: 25%;
    box-sizing: border-box;
    height: 25%;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 15px;
    transition: border 1s, border-radius 1s;
    background-origin: border-box !important;
    background-repeat: no-repeat !important;
    background-clip: border-box !important;
    cursor: pointer;
    border: 1px solid #3b3e3b; }
    .plitImage li::before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      transition: opacity 0.7s;
      opacity: 0;
      background: rgba(255, 255, 255, 0.4);
      z-index: 2; }
  .plitImage .z-ind {
    z-index: 10; }
  .plitImage.right li {
    border: 0 solid #ffffff;
    font-size: 10px;
    border-radius: 0; }
  .plitImage li.cl-hover::before {
    opacity: 1; }

.puzzle-img__bl-hide {
  height: 0;
  overflow: hidden; }

.plitImage.begin li {
  transition: none !important; }

.write-me-wr {
  padding: 50px 30px;
  display: block;
  box-sizing: border-box;
  margin: 20px auto 0;
  max-width: 100%;
  background-position: bottom center !important;
  background-attachment: fixed !important; }

.write-me-wr-cont {
  display: flex;
  justify-content: space-between; }

.write-me__form {
  display: block;
  margin: auto;
  max-width: 800px;
  width: 100%; }

.write-me__input, .write-me__textarea {
  width: 48%;
  display: block;
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.65);
  box-sizing: border-box;
  transition: 1s all;
  border: 1px solid rgba(56, 26, 56, 0.9);
  margin-bottom: 20px; }
  .write-me__input:focus, .write-me__input:hover, .write-me__textarea:focus, .write-me__textarea:hover {
    background: rgba(255, 255, 255, 0.9) !important; }
  .write-me__input:valid, .write-me__textarea:valid {
    background: rgba(255, 255, 255, 0.9); }

.write-me__textarea {
  padding: 10px;
  width: 100%;
  min-height: 180px; }

.write-me__email {
  float: right; }

.write-me__but {
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  border-radius: 6px;
  background: gray;
  transition: 0.3s all;
  color: #ffffff;
  border: none;
  font-size: 20px;
  min-width: 170px;
  border: 2px solid gray; }
  .write-me__but:hover {
    background: #ffffff;
    color: gray; }

.footer .sect-wr {
  padding-top: 30px;
  background: linear-gradient(#333533, #000000);
  border-top: 2px solid #86865e; }

.footer-data {
  display: flex;
  margin: 40px auto 20px;
  max-width: 900px; }
  .footer-data__item {
    width: 50%;
    color: #aea7a7;
    font-weight: bold; }
    .footer-data__item_creater {
      text-align: right; }
  .footer-data__link {
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px; }
