.sect-wr {
  margin: 20px auto;
  max-width: 1200px; }

.sect-charact {
  background-position: 0 0;
  background-size: contain;
  position: relative;
  box-sizing: border-box;
  width: 1024px;
  height: 681px; }

.char-Betzen {
  position: absolute;
  left: 295px;
  top: 132px;
  z-index: 5;
  width: 232px;
  height: 325px;
  background: url(../img/characters/mis-Betzen.png) no-repeat;
  pointer-events: none; }
  .char-Betzen object {
    pointer-events: none; }
  .char-Betzen svg {
    pointer-events: none; }
    .char-Betzen svg path {
      cursor: pointer;
      pointer-events: all;
      stroke: yellow;
      stroke-width: 0; }
      .char-Betzen svg path:hover {
        stroke-width: 2px; }
      .char-Betzen svg path.active {
        stroke-width: 2px; }
