body {
  background: #3b3e3b;
  margin: 0;
  padding: 0; }

a {
  color: yellow;
  text-decoration: none;
  transition: all 0.3s;
  outline: none; }
  a:hover {
    color: red; }

.bl-relative {
  position: relative; }

#wrap {
  height: 100%; }

.sect-wr {
  margin: 0 auto;
  padding: 10px 20px 30px;
  max-width: 1200px;
  background: #3b3e3b; }

.title-sect {
  font-size: 24px;
  padding: 10px 10px 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff; }

.bg_site {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -10;
  height: 100vh;
  background-size: cover !important;
  background-position: center center !important; }
  .bg_site::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -5; }

.sect-wr_head {
  min-height: 300px;
  background-position: top center !important;
  background-size: 65% auto !important;
  background-attachment: fixed !important; }

.main-nav {
  visibility: visible;
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: space-between; }
  .main-nav a {
    font-size: 19px; }

.title-sect_head {
  position: absolute;
  top: 90px;
  right: 120px;
  z-index: 5;
  font-size: 70px; }

.main-nav__header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 5; }

.shape-img {
  shape-image-threshold: 0.2;
  shape-margin: 0px;
  background-position: center center !important; }

.shape-img_1 {
  width: 160px;
  height: 150px;
  float: left;
  background: url(../img/descrp-shape-1.png) no-repeat;
  -webkit-shape-outside: url(../img/descrp-shape-black-1.svg);
  -moz-shape-outside: url(../img/descrp-shape-black-1.svg);
  -o-shape-outside: url(../img/descrp-shape-black-1.svg);
  shape-outside: url(../img/descrp-shape-black-1.svg); }

.shape-img_2 {
  width: 255px;
  height: 355px;
  float: right;
  background: url(../img/descrp-shape-2.png) no-repeat;
  -webkit-shape-outside: url(../img/descrp-shape-black-2.svg);
  -moz-shape-outside: url(../img/descrp-shape-black-2.svg);
  -o-shape-outside: url(../img/descrp-shape-black-2.svg);
  shape-outside: url(../img/descrp-shape-black-2.svg); }

.desctiption_text {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify; }

.last-update__wr {
  background-position: 80% 20% !important;
  background-size: 180% !important; }

.last-update__img {
  display: block;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  opacity: 0;
  transition: all 3s; }

.last-update__img.active {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  filter: blur(0px);
  opacity: 1; }

.gallery-list__height {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

.gallery-list__item {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  transform-style: preserve-3d; }
  .gallery-list__item-wr {
    position: relative;
    padding-top: 80%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 2s; }
    .gallery-list__item-wr.active {
      transform: rotateY(180deg); }
  .gallery-list__item-img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    box-sizing: border-box;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    transform-style: preserve-3d; }
    .gallery-list__item-img-sec {
      transform: rotateY(180deg);
      pointer-events: none; }

.sect-charact {
  background-position: 0 0;
  background-size: contain;
  position: relative;
  box-sizing: border-box;
  width: 1024px;
  height: 681px; }
  .sect-charact__bg {
    position: absolute;
    background: transparent;
    transition: all 0.7s;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5; }
    .sect-charact__bg.active {
      background: rgba(0, 0, 0, 0.8); }

.char-Betzen {
  position: absolute;
  left: 295px;
  top: 132px;
  z-index: 5;
  width: 232px;
  height: 325px;
  background: url(../img/characters/mis-Betzen.png) no-repeat;
  pointer-events: none; }
  .char-Betzen object {
    pointer-events: none; }
  .char-Betzen svg {
    pointer-events: none; }
    .char-Betzen svg path {
      cursor: pointer;
      pointer-events: all;
      stroke: yellow;
      stroke-width: 0;
      transition: all 0.5s; }
      .char-Betzen svg path:hover {
        stroke-width: 2px; }
      .char-Betzen svg path.active {
        stroke-width: 2px;
        z-index: 10; }

.characters-modal-descr {
  display: block;
  background: #151515;
  padding: 15px 10px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  min-width: 200px;
  height: 300px;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  display: none;
  transform: translateX(-50%); }
  .characters-modal-descr::before {
    content: "";
    height: 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    border-top: 30px solid #151515;
    transform: translateX(-50%);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; }
  .characters-modal-descr__wr {
    display: flex;
    height: 100%;
    overflow: hidden; }
  .characters-modal-descr__img {
    width: 150px;
    min-width: 200px;
    padding: 10px;
    padding-right: 20px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex; }
    .characters-modal-descr__img::before {
      content: "";
      display: block;
      background: yellow;
      width: 3px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; }
  .characters-modal-descr__cont-img {
    background-size: contain !important;
    background-position: center !important;
    width: 100%;
    align-items: center; }
  .characters-modal-descr__text {
    padding: 0 10px 10px 20px; }
  .characters-modal-descr__name {
    font-size: 20px;
    color: yellow;
    text-align: center;
    padding: 10px; }
  .characters-modal-descr__charact-descr {
    font-size: 14px;
    color: #ffffff;
    text-align: justify;
    overflow: auto;
    max-height: 220px;
    box-sizing: border-box; }

.sect-wr__slider-art {
  min-height: 600px; }

#viewport {
  width: 100px;
  margin: auto;
  display: block; }

.last-update {
  text-align: center; }
  .last-update__img {
    width: 100%; }

#cube,
#cube-cube {
  position: relative;
  margin-top: 140px;
  height: 70px;
  width: 70px;
  transform-style: preserve-3d;
  transform: translateX(50px) rotateX(0) rotateY(0);
  transition: all 3s;
  pointer-events: none;
  transform-origin: 0 0 0 !important; }

#imgCenter {
  transform-style: preserve-3d;
  height: 370px;
  width: 250px;
  transform: rotateX(0deg) rotateY(0deg) translateX(-140px) translateY(0px) translateZ(0px);
  background: url(../img/pers.png) no-repeat;
  background-position: center top !important;
  background-size: contain !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -160px;
  left: 0px;
  transition: all 3s; }

#cube.active {
  -webkit-transform: rotateX(-20deg) rotateY(20deg);
  box-sizing: border-box;
  background-position: center top !important;
  background-size: cover !important; }

#cube .cn-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 140px;
  width: 200px;
  padding: 0px;
  background-color: rgba(50, 50, 50, 0.85);
  font-size: 1em;
  line-height: 1em;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: right;
  padding: 5px;
  pointer-events: all;
  transform-origin: 0 0 0 !important; }

#cube a {
  display: block;
  width: 100%;
  height: 100%; }

#cube .cn-img {
  perspective-origin: 0% 0%;
  transform-origin: 0% 0%;
  opacity: 0.9;
  background-position: center top !important;
  background-size: cover !important;
  transition: transform 6s, opacity 1s;
  transform-origin: 0 0 0 !important; }

#cube:hover > div {
  opacity: 0.25; }

#cube > div:hover {
  opacity: 1 !important; }

#cube div span {
  display: inline-block;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: red; }

#cube .center-line {
  height: 200px;
  width: 20px;
  background: red;
  transform: rotateX(0deg) rotateY(0deg) translateX(0px) translateY(-50px) translateZ(0px);
  -webkit-transform: rotateX(0deg) rotateY(0deg) translateX(0px) translateY(-50px) translateZ(0px); }

#cube .cn-img.act-el {
  -webkit-transform: rotateX(8deg) rotateY(-19deg) translateX(-180px) translateY(-9px) translateZ(350px);
  opacity: 1;
  width: 400px;
  height: 350px; }

.wr_img_sl {
  display: none; }

.slider-art__list-img {
  display: none; }

.plitImage {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  font-size: 0;
  padding: 0;
  background-size: cover;
  min-height: 400px;
  position: relative; }
  .plitImage li {
    width: 25%;
    box-sizing: border-box;
    height: 25%;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: border 1s, border-radius 1s;
    background-origin: border-box !important;
    background-repeat: no-repeat !important;
    background-clip: border-box !important;
    cursor: pointer;
    border: 1px solid #3b3e3b; }
    .plitImage li::before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      transition: opacity 0.7s;
      opacity: 0;
      background: rgba(255, 255, 255, 0.4);
      z-index: 2; }
  .plitImage .z-ind {
    z-index: 10; }
  .plitImage.right li {
    border: 0 solid #ffffff;
    font-size: 10px;
    border-radius: 0; }
  .plitImage li.cl-hover::before {
    opacity: 1; }

.puzzle-img__bl-hide {
  height: 0;
  overflow: hidden; }
